<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.bbi.williamli.just5things">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollingActivity01"
            android:label="@string/topic_title_01"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".ScrollingActivity02"
            android:label="@string/topic_title_02"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".ScrollingActivity03"
            android:label="@string/topic_title_03"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".ScrollingActivity04"
            android:label="@string/topic_title_04"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".ScrollingActivity05"
            android:label="@string/topic_title_05"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity"/>




    </application>

</manifest>
